# Node / Frontend
node_modules/
dist/
dist-ssr/
.env
.env.*
.DS_Store

# Java / Backend
target/
*.class
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
.vscode/
*.ipr
*.iml
*.iws

# Logs
*.log
